<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">WebReceipt</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass nav-scrollable" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Home
            </NavLink>
        </div>
@*         <div class="nav-item px-3">
        <NavLink class="nav-link gap-2" href="transactions">
                <MudIcon Icon="@Icons.Material.Filled.NoteAdd"></MudIcon>
                <span>Transactions</span>
            </NavLink>
        </div> *@
        <div class="nav-item px-3">
            <NavLink class="nav-link gap-2" href="records">
                <MudIcon Icon="@Icons.Material.Filled.FolderCopy"></MudIcon>
                <span>Records</span>
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link gap-2" href="reports">
                <MudIcon Icon="@Icons.Material.Filled.PictureAsPdf"></MudIcon>
                <span>Reports</span>
            </NavLink>
        </div>
         <div class="nav-item">
            <MudNavGroup style="color: white;" Class="nav-link gap-2" Title="Settings" Icon="@Icons.Material.Filled.Settings">
                <MudNavLink Class="nav-link" Href="/accounts">
                    <MudIcon Icon="@Icons.Material.Filled.PictureAsPdf"></MudIcon>
                    <span>Accounts</span>
                </MudNavLink>
                <MudNavLink Class="nav-link" Href="/paymenttype">
                    <MudIcon Icon="@Icons.Material.Filled.PictureAsPdf"></MudIcon>
                    <span>Payment Types</span>
                </MudNavLink>
            </MudNavGroup>
         </div>
    </nav>
</div>


@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
<style>
 
</style>